body, html {
	width: 100%;
	height: 100%;
	background-color: #acb1bf;
	margin: 0;
	color: #ff4645;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1{
	background-color: #ff4645;
	color: white;
}

#main {
	max-width: 800px;
	min-height: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 1rem;
	text-align: center;
}

.sections{
	padding: 3em;
}


#calc{
	color: #547aa5;
}

#get{
	color: #a34f74;
}

#getDB{
	color: #5b4696;
}


button {
	padding: 3;
	border: none;
	font: inherit;
	cursor: pointer;	
	border-radius: 5px;
	font-weight: 500;
	color: white;
	width: 150px;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    			0 3px 1px -2px rgba(0, 0, 0, 0.12), 
				0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

.button-calc{
	background-color: #547aa5;
}

.button-get{
	background-color: #a34f74;
}

.button-get-db{
	background-color: #5b4696;
}